.link-product {
    width: auto;
    height: auto;
}

.button-link {
    position: relative;
    margin-top: -125px;
    width: 200;
    margin-left: 10px;
}
.styles__product-card-gallery___2CygM .styles__gallery-item___ug80f {
    background-size: contain !important;
    background-color: white !important;
}

.styles__product-card-gallery___2CygM {
    background-color: white !important;
}

.styles__price-tag___UwO7P {
    background-color: #ED808F !important;
}

.btn-primary {
    background-color: #C8E2C9 !important;
    border-color: #C8E2C9 !important;
    color: #232823 !important;
}